<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EarSense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-3 pl-0 pr-0">
            <div class="container-fluid justify-content-center p-0">
                <div class="row" style="max-width: 100%; width: 100%;">
                    <div class="col-md-4 col-12">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-page="/Index" id="navbarimg">
                                <img src="~/images/EarSense-Logo_Ward_11232020_JAK30_transparent_background_white_letters_Rev2_07062021.png" width="480" class="d-inline-block align-text-bottom" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-4">
                        <div class="container-fluid justify-content-center">
                            <a class="navbar-brand" asp-area="" asp-page="/Index" id="titleAnchor">
                                <h1>Ear<i>Sense</i></h1>
                                <h3>Audiology &bull; Hearing Aids</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mt-4">
                        <div class="container-fluid justify-content-end">
                            <a class="navbar-brand text-white large-font" id="addressContainer">
                                <span><b>147 Hunter Street East</b>,</span>
                                <br />
                                <span>Peterborough, Ontario,</span>
                                <br />
                                <span>K9H 1G7</span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            

        </nav>
    </header>
    <div class="container" style="max-width: 1260px;">
        <div class="d-flex justify-content-center">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EarSense Audiology - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Index.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
